<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - FREE Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lineicons/style.css' %}">    
    
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style-responsive.css' %}" rel="stylesheet">

    <script src="{% static 'assets/js/chart-master/Chart.js' %}"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/d3.layout.cloud.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{% static 'js/TweetTable.js' %}"></script>
    <script src="{% static 'js/wordCloud.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{% static 'js/amcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/serial.js' %}"></script>

    <script src="http://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="http://www.amcharts.com/lib/3/maps/js/southAfricaLow.js"></script>


    <script type="text/javascript" src="{% static 'js/light.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/amstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/none.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/areachartams.js' %}"></script>  
    <script type="text/javascript" src="{% static 'js/heatmapams.js' %}"></script> 
    <script type="text/javascript" src="{% static 'js/bostockzoomabletreemap.js' %}"></script> 

    <link rel="stylesheet" type="text/css" href="{% static 'css/twitterdash.css' %}"/>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <style>

#treechart {
  
  /*text-align: center;*/
        /*width: 1000px;
        height: 600px;*/
        /*background:#008000;*/
    }
    text {
        pointer-events: none;
    }
    .grandparent text { /* header text */
        font-weight: bold;
        font-size: medium;
        font-family: "Open Sans", Helvetica, Arial, sans-serif; 
    }
    rect {
        fill: none;
        stroke: #fff;
    }
    rect.parent,
    .grandparent rect {
        stroke-width: 2px;
    }
    .grandparent rect {
        fill: #FF6600;
    }
    .children rect.parent,
    .grandparent rect {
        cursor: pointer;
    }
    rect.parent {
        pointer-events: all; 
    }
    .children:hover rect.child,
    .grandparent:hover rect {
        fill: #aaa;
    }
    .textdiv { /* text in the boxes */
      text-align: center;
        font-size: 150%;
        padding: 5px;
        color:#000000;
        font-family: "Open Sans", Helvetica, Arial, sans-serif; 
    }

</style>

  <body style="background-color:#ffffff">

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg" style="font-size: 50px">
        <div>
              <a href="index.html" class="logo"><b>SCIENCE FORUM SOUTH AFRICA TWITTER DASHBOARD</b></a>
          </div>     
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <!-- <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  		<div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                  			<div class="box1">
					  			<span class="li_heart"></span>
					  			<h3>933</h3>
                  			</div>
					  			<p>933 People liked your page the last 24hs. Whoohoo!</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_cloud"></span>
					  			<h3>+48</h3>
                  			</div>
					  			<p>48 New files were added in your cloud storage.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_stack"></span>
					  			<h3>23</h3>
                  			</div>
					  			<p>You have 23 unread messages in your inbox.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_news"></span>
					  			<h3>+10</h3>
                  			</div>
					  			<p>More than 10 news were added in your reader.</p>
                  		</div>
                  		<div class="col-md-2 col-sm-2 box0">
                  			<div class="box1">
					  			<span class="li_data"></span>
					  			<h3>OK!</h3>
                  			</div>
					  			<p>Your server is working perfectly. Relax & enjoy.</p>
                  		</div>
                  	
                  	</div> --><!-- /row mt -->	
                  
                      
                      <!-- /row -->
                    
                    				
					<div class="row">
						<!-- TWITTER PANEL -->
						<div class="col-md-6">
                      		<div class="panel">
                      			<!-- <div class="darkblue-header">
						  			<h5>WORD FREQUENCY CLOUD</h5>
                      			</div> -->
                            
                            <div id="wordcloud"> </div>
							               
                      		</div>
						</div><!-- /col-md-4 -->
						
						
				
						
						<div class="col-md-6">
							<!-- REVENUE PANEL -->
							<div class="panel">
								<div class="header">
									<h5> </h5>
								</div>
                <div id="table" style="margin-top:100px"></div>
								
							</div>
						</div><!-- /col-md-4 -->
						
					</div><!-- /row -->

          <div class="row">
            <!-- TWITTER PANEL -->
            <div class="col-md-6">
                          <div class="panel">
                            <!-- <div class="darkblue-header">
                    <h5>SESSION TREE CHART</h5>
                            </div> -->
                                <div id="treechart"></div>
                            <!-- <div id="mapchartdiv" style="height:50%"></div> -->

                          </div> 
            </div><!-- /col-md-4 -->
            
            
        
            
            <div class="col-md-6">
              <!-- REVENUE PANEL -->
              <div class="panel">
                <!-- <div class="darkblue-header">
                  <h5>TWEET FREQUENCY</h5>
                </div> -->
                  <div id="chartdiv" ></div>
              </div>
            </div><!-- /col-md-4 -->
            
          </div>

        </div>
					
					<!-- /row -->	
					
                  <!-- </div>/col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  
              
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              Powered by CSIR Meraka Data Science for Impact and Decision Enablement (DSIDE)
              
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'assets/js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/jquery.sparkline.js' %}"></script>


    <!--common script for all pages-->
    <script src="{% static 'assets/js/common-scripts.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'assets/js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/gritter-conf.js' %}"></script>

    <!--script for this page-->
    <script src="{% static 'assets/js/sparkline-chart.js' %}"></script>    
	<script src="{% static 'assets/js/zabuto_calendar.js' %}"></script>	
	
<script type="text/javascript">
setTimeout("location.reload(true);", 15000);
var wordcloud_data = {{data_list|safe}};
cloudPlot(wordcloud_data, wordcloud);
var tableData = {{table_data|safe}};
drawTable(tableData, "table");
var chartData = {{time_chart_data|safe}};
// drawLineChart(chartData);
drawAreaChart(chartData);

var the_data1 ={{js_data1|safe}};
var the_data2 = {{js_data2|safe}};
theTree(the_data1);


num_tweets = {{first_block_num_tweets|safe}};
frequent_word = {{second_block_common_word_most_dict|safe}};
freq_tweeter = {{third_block_common_tweeter_dict|safe}};

document.getElementById("total_tweets").innerHTML = "<h4>" + num_tweets[0] + "</h4>";
document.getElementById("frequent_word").innerHTML = "<h4>" + frequent_word["text"] + " : " + frequent_word["freq"] + "</h4>";
document.getElementById("freq_tweeter").innerHTML =  "<h4>@" + freq_tweeter["tweeter"] + " : " + freq_tweeter["num"] + "</h4>";
// document.getElementById("freq_province").innerHTML = ;

</script>

  </body>
</html>
