<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Receiver</title>
	{% load staticfiles %}

    <!-- Bootstrap Core CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>

    <!-- MetisMenu CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/metisMenu/dist/metisMenu.min.css' %}"/>


    <!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/dist/css/sb-admin-2.css' %}"/>

    <!-- Morris Charts CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/morrisjs/morris.css' %}"/>

    <!-- Custom Fonts -->
	<link rel="stylesheet" type="text/css" href="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/font-awesome/css/font-awesome.min.css' %}"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../courier/receiver">Receiver</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
                
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="../courier/main"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Receiver</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <label>Track Package</label>
                            
                        </div>
                        <!-- /.panel-heading -->
									<form role="form">
                                        <div class="form-group">
										
                                            
                                            <input class="form-control" placeholder="Enter Tracking Number" id="trackingid">
                                            <p class="help-block"></p>
											
											


                                    </form>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
                    <!-- /.panel -->
                   
                    <!-- /.panel -->
					
                </div>
                <!-- /.col-lg-8 -->
                <div  class="btn btn-lg btn-success btn-block"  id="login" onclick="myFunction()">Track My Package </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/raphael/raphael-min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/bower_components/morrisjs/morris.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/js/morris-data.js' %}"></script>

    <!-- Custom Theme JavaScript -->
	<script type="text/javascript" src="{% static 'lib/startbootstrap-sb-admin-2-1.0.8/dist/js/sb-admin-2.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/jquery.cookie.js' %}"></script>

	<script>
	
		designation = "unknown";
		designation = {{designation_loading|safe}};
		console.log(designation);
		designation = designation[0];
		console.log(designation);
	
	if(designation == "allow")
	{
			alert("Welcome");
	}
	
	else
	{
		alert("Incorrect Password");
		window.location.href = '../courier/loginreceiver';
	}
	
		
		

		function myFunction() {
		console.log("i am here");
		var trackingid1 = document.getElementById("trackingid").value;
		console.log(trackingid1);
		
		
		var csrftoken = $.cookie('csrftoken');

										function csrfSafeMethod(method) {
										    // these HTTP methods do not require CSRF protection
										    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
										}

										$.ajaxSetup({
										    beforeSend: function(xhr, settings) {
										        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
										            xhr.setRequestHeader("X-CSRFToken", csrftoken);
										        }
										    }
										});
																
										
		$.post("../courier/receiver",{
			tracking:trackingid,
		}
		);
		
		};
		
		
//		if(designation != "unknown")
//		{
//			console.log("about to post");
//			$.post("../courier/"+ designation,{
//		}
//		);
	//	}

	</script>
</body>

</html>
